* {
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    text-align: center;
    background-color: darkcyan;
    padding: 5px;
}

ul {
    list-style: none;
}

li {
    margin-top: 7vw;
}

li a {
    text-decoration: none;
    color: #FFF;
    background-color: darkcyan;
    font-size: 1em;
    border-radius: 15px;
    padding: 10px;
    margin: 1vw;
}

h2 {
    text-decoration: underline;
}

a:hover {
    color: darkcyan;
}

button {
    text-decoration: none;
    color: #FFF;
    background-color: darkcyan;
    font-size: 1em;
    border-radius: 15px;
    padding: 10px;
}

button:hover {
    color: darkcyan;
    background-color: #FFF;
}

.proList {
    font-size: .8em;
    padding: 5px;
    margin: 5vw 0 5vw 0;
}

#chal {
    font-size: 1.2em;
}
